<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="flex-grow-1">
      <a aria-label="Home" class="logo" routerLink="/">
        <span class="reddit-text">
         ToDo-List
        </span>
      </a>
    </div>
    <div class="flex-grow-1" style="padding: 3px 16px;" >
      <a routerLink="/signup" class="signup mr-2" style="float: right; ">Sign up</a>
      <a routerLink="/login" class="login mr-2 " style="float: right; ">Login</a>
    </div>
  </nav>
</header>